
.wrapper .left,
.wrapper .right {
      width: 100%;
      height: 40vh;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
}

.left2,.right2{
      
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center; 
}

.wrapper .imageContainer {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.25s ease all;
}

.wrapper .caption ,.caption{
      position: relative;
      z-index: 10;
      color: black;
      text-align: center;
}


.wrapper .caption h1 {
      text-transform: uppercase;
      letter-spacing: 0.25em;
      margin-bottom:1em;
}

.caption{
    margin: 1px;
    margin-top: 20px;
}

.capt{
    margin-bottom: 75px;
}

.wrapper .caption .button {
      color: #fff;
      padding: 1em;
      text-decoration: none;
      font-weight: 600;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 0.05em;
}

.bios{
    text-transform: uppercase;
    margin: 30px;
}
/*
.follows_dets{
  background-color: grey;
  height: 409px;
  display: flex;
  justify-content: center;
}
*/

.followUsernam{
  display: flex;
  justify-content: center;
  margin: auto;
}

.follows{
  background-color: #ff000030;
  border-radius: 10px 0px;
  margin-top: 20px;
  transition: 2s;
}

.follows:hover{
  background-color: red;
}

@media screen and (min-width:1200px) {
      .wrapper {
            display: flex;
      }
      .wrapper .left{
            width: 50%;
            height: 28vh;
      }
      .wrapper .right{
        width: 40%;
        height: 30vh;
      }
      .left2{
            flex-direction: row;
      }
        .bios{
            margin: 30px;
        }
        
}

@media screen and (min-width:1000px){
    html::-webkit-scrollbar {
        width: 20px; 
     }
    
    html::-webkit-scrollbar-track {
      background-color: black;
    }
    
    html::-webkit-scrollbar-thumb {
      background: #4e4e4e;
      border-radius: 25px;
    }
    .outputs::-webkit-scrollbar {
        width: 20px; 
     }
    
    .outputs::-webkit-scrollbar-track {
      background-color: black;
    }
    
    .outputs::-webkit-scrollbar-thumb {
      background: #4e4e4e;
      border-radius: 25px;
    }
    
    .repo_details::-webkit-scrollbar, .follows_dets::-webkit-scrollbar {
        width: 20px; 
     }
    
    .repo_details::-webkit-scrollbar-track,.follows_dets::-webkit-scrollbar-track {
      background-color: black;
    }
    
    .repo_details::-webkit-scrollbar-thumb,.follows_dets::-webkit-scrollbar-thumb {
      background: #4e4e4e;
      border-radius: 25px;
    }
}

@media screen and (max-width:864px){
    .outputs{
        overflow-x: auto;
    }
      .left2{
            flex-direction: column;
      }
      .wrapper .left,.wrapper .right{
        height: 13vh;
      }
      .capt{
          margin-bottom: 20px;
      }
      .images{
          width: 100px;
          height: 100px;
      }
      .bios{
        margin: 30px;
    }
        
}


@media screen and (max-width:768px){
    .outputs{
        overflow-x: auto;
    }
      .left2{
            flex-direction: column;
      }
      .wrapper .left{
        height: 200px;
      }
      .wrapper .right{
        height: 200px;
      }
      .capt{
          margin-bottom: 20px;
      }
      .images{
          width: 150px;
          height: 150px;
      }
      .bios{
        margin: 30px;
        }
}

@media screen and (min-width:768px){
    .outputs{
        overflow-x: auto;
    }
      .left2{
            flex-direction: column;
      }
      .wrapper .left,.wrapper .right{
        height: 200px;
      }
      .images{
          width: 150px;
          height: 150px;
      }
      .bios{
        margin: 0;
        margin-bottom: 30px;
        }
}

@media screen and (min-width:1200px) {
    .wrapper .left,.wrapper .right{
        height: 27vh;
    }
    .left2 {
        flex-direction: row;
    }
}
/*Convert all vh to px easier to design that way*/