*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
	/*background-color: #0cbaba;*/
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
    height: 100%;
    width: 100%;
    color: white;
}
.header{
    width: 100%;
    height: 100px;
    font-size: 41px;
    text-align: center;
    padding-top: 75px;
    letter-spacing: 5px;
}


/*nav{
    position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color: black;
}
nav .logo{
    
	width: 100%;
    height: 100%;
    padding: 28px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}*/