*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
	/*background-color: #0cbaba;*/
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
    height: 100%;
    width: 100%;
    color: white;
}
.header{
    width: 100%;
    height: 100px;
    font-size: 41px;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 50px;
    /*text-shadow: white 0px 0px 10px;*/
}

.container{
    display: flex;
    justify-content: center;
    height: 70px;
}

.container #inputContent{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container #inputContent #searchs{
    width:600px;
    border-radius: 10px 0 10px 0;
    padding: 20px;
    margin-right: 20px;
    outline: none;
}

#submit{
    padding: 15px;
    border-radius: 10px 0 10px 0;
    transition: 2s;
    box-shadow: white 0px 10px 10px;
    border: 1px solid whitesmoke;
}



#submit:hover{
    background-color: orangered;
    color: white;
    box-shadow: orangered  0px 10px 10px;
    border: 1px solid orangered;
}

.outputContainer{
    display: flex;
    justify-content: center;
    padding: 15px;
    height: 700px;
    /*background-color: brown*/
}

.outputContainer .outputs{
    width: 80%;
    text-align: center;
    padding: 15px;
    /*temporary will add opacity to it in a bit right now I am blind as a bat*/
    background-color: black;
    border-radius: 10px;
}

.username{
    font-size: 40px;
}

.images{
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

/*Mobile responsiveness*/
@media screen and (max-width:768px) {
    .outputContainer .outputs{
        width: 90%;
    }
    .outputContainer{
        height: 600px;
        margin-top: 12px;
    }
    .username{
        font-size: 20px;
    }
    .images{
        max-height: 150px;
        max-width: 150px;
    }
}

/*nav{
    position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color: black;
}
nav .logo{
    
	width: 100%;
    height: 100%;
    padding: 28px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}*/